services:
  postgres:
    image: ankane/pgvector
    container_name: resys_shop_db
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shopdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
